NodeRed-fridgewarning
[{"id":"912c56df.738158","type":"group","z":"70bf9abb.bd5324","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5c0830bc.a2f63","7d359760.a5f968","e8f67b93.aea318","9793b805.08a898","880359ef.454878","63287efa.0df97","99f10ee6.1ac7e","3b73f584.1a7daa","96173a69.950948","f2a5b25c.0cb6d"],"x":22,"y":1271,"w":882,"h":178},{"id":"5c0830bc.a2f63","type":"switch","z":"70bf9abb.bd5324","g":"912c56df.738158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":258,"y":1344,"wires":[["f2a5b25c.0cb6d"],["e8f67b93.aea318"]]},{"id":"7d359760.a5f968","type":"function","z":"70bf9abb.bd5324","g":"912c56df.738158","name":"Google","func":"{\nmsg.payload = \"WARNING - The Fridge door is open\";\nmsg.emitVolume = \"60\"\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":764,"y":1344,"wires":[["96173a69.950948"]]},{"id":"e8f67b93.aea318","type":"function","z":"70bf9abb.bd5324","g":"912c56df.738158","name":"stop","func":"{\nmsg.payload = \"stop\"\n\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":274,"y":1408,"wires":[["f2a5b25c.0cb6d"]]},{"id":"9793b805.08a898","type":"server-state-changed","z":"70bf9abb.bd5324","g":"912c56df.738158","name":"Fridge Door","server":"c830d12c.40639","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mag_door02","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":118,"y":1344,"wires":[["5c0830bc.a2f63"]]},{"id":"880359ef.454878","type":"comment","z":"70bf9abb.bd5324","g":"912c56df.738158","name":"Fridge door open alarm ______________________________","info":"","x":268,"y":1312,"wires":[]},{"id":"63287efa.0df97","type":"delay","z":"70bf9abb.bd5324","g":"912c56df.738158","name":"Loop","pauseType":"delay","timeout":"58","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":434,"y":1376,"wires":[["f2a5b25c.0cb6d"]]},{"id":"99f10ee6.1ac7e","type":"api-current-state","z":"70bf9abb.bd5324","g":"912c56df.738158","name":"Home Occu","server":"c830d12c.40639","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"data","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":598,"y":1344,"wires":[["7d359760.a5f968"],["3b73f584.1a7daa"]]},{"id":"3b73f584.1a7daa","type":"api-call-service","z":"70bf9abb.bd5324","g":"912c56df.738158","name":"If out","server":"df8e1c5c.79ed6","version":1,"debugenabled":false,"service_domain":"notify","service":"gmail_pete","entityId":"","data":"{\"message\":\"The MH Fridge door is open\",\"title\":\"FRIDGE\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":754,"y":1376,"wires":[[]]},{"id":"96173a69.950948","type":"link out","z":"70bf9abb.bd5324","g":"912c56df.738158","name":"","links":["a2491fc8.a8aab"],"x":863,"y":1344,"wires":[]},{"id":"f2a5b25c.0cb6d","type":"stoptimer","z":"70bf9abb.bd5324","g":"912c56df.738158","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"30s","x":434,"y":1344,"wires":[["63287efa.0df97","99f10ee6.1ac7e"],[]]},{"id":"c830d12c.40639","type":"server","z":"","name":"ha MH","legacy":false,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"df8e1c5c.79ed6","type":"server","z":"","name":"Home Assistant Home","legacy":false,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
